.kv {
    overflow: hidden;
    position: relative;
}
.kv_effect {
    position: absolute;
    bottom: -56px;
    right: -137px;
    overflow: hidden;
    opacity: 0;
}
.kv_effect svg {
    height: 110vh;
}
#effect01, #effect02, #effect03 {
    /* animation: img-wrap 2s cubic-bezier(0.4, 0, 0.2, 1) forwards; */
    position: absolute;
    z-index: 1;
}

.kv_effect::before {
    /* animation: img-wrap 2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    background: rgba(255, 255, 255, 0.5);
    content: '';
    inset: 0;
    pointer-events: none;
    position: absolute;
    z-index: 1; */
}

.effect_img01 {
    bottom: -56px;
    right: 200px;
    width: 39.7vw;
    animation-delay: 0.8s;
}
.effect_img02 {
    bottom: -56px;
    right: 55px;
    width: 26.5vw;
    animation-delay: 0.4s;
}
.effect_img03 {
    bottom: -56px;
    right: -127px;
    width: 32.8vw;
}

.kv_effect-sp {
    display: none;
}

@media screen and (max-width:880px) {
    .kv_effect {
        right: -203px;
    }
}

@media screen and (max-width:768px) {
    .kv_effect {
        display: none;
    }
    .kv_effect-sp {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100vw;
        opacity: 0;
    }
    .kv_effect-sp img {
        width: 100%;
    }
}

@keyframes img-wrap {
    0% {
        transform: translateY(600px);
    }
    100% {
        transform: translateY(0px);
    }
}