:root {
    /* color ------------------------------------------------------------------------*/
    --main-color: #000000;
    --bule: #1D90D1;
    --green: #4FA149;
    --gray: #E8E8E8;
    --lightgray: #F8F8F8;
}

/* 共通 */
.pc {
    display: block;
}
.sp {
    display: none;
}

html {
    font-size: .6944444444vw;
    scroll-behavior: smooth;
}

body * {
    font-family: "Noto Sans JP", sans-serif;
}
main {
    transition: filter 0.3s;
}
main.filter {
    filter: brightness(30%);
}
h1, h2 {
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
    font-style: normal;
}
h3, h4, h5, h6 {
    font-family: "Shippori Mincho", serif;
    font-weight: bold;
}
.gray_mask {
    display: none;
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0, 0.3);
    /* transition: all 0.3s; */
}
.gray_mask.active {
    display: block;
}
.sec_head {
    max-width: 1100px;
    margin: auto;
}
.sec_title {
    font-size: 64px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.07em;
}
.sec_subtitle {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: var(--green);
}
.green_ball {
    display: inline-block;
    margin-right: 6px;
    border-radius: 10px;
    background-color: var(--green);
    width: 10px;
    height: 10px;
}
.green {
    color: var(--green);
}
.hover_opacity {
    transition: opacity 0.3s;
}
.hover_opacity:hover {
    opacity: 0.6;
}

/* header */
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
.header_fixed {
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    transition: all 0.5s;
    z-index: 100;
}
/* .header_fixed.fixed {
    display: block;
} */
.header_inner {
    padding: 30px 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}
.header_fixed .header_inner {
    padding: 18px 40px 18px;
    align-items: center;
}
.header_logo {
    width: 50px;
    display: block;
}
.header_menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.header_list a {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #fff;
}
.header_fixed .header_list a {
    color: #000;
}
.header_contact a {
    background-color: var(--bule);
    padding: 7px 23px;
    border-radius: 9999px;
    box-sizing: border-box;
    transition: all 0.3s;
    border: 1px solid var(--bule);
}
.header_fixed .header_contact a {
    color: #fff;
}
.header_contact a {
    text-align: center;
}

.header_hamburger {
    display: none;
    background-color: var(--bule);
    width: 40px;
    height: 40px;
    border-radius: 40px;
    position: relative;
}
.header_hamburger span{
    display: inline-block;
    transition: all .4s;/*アニメーションの設定*/
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    height: 1px;
    background: #fff;
    width: 45%;
}
.header_hamburger span:nth-of-type(1) {
    top:14px; 
}

.header_hamburger span:nth-of-type(2) {
    top:20px;
}

.header_hamburger span:nth-of-type(3) {
    top:26px;
}

.header_hamburger.active span:nth-of-type(1) {
    top: 12px;
    left: 11px;
    transform: translateY(7px) rotate(-45deg);
    width: 19px;
}
.header_hamburger.active span:nth-of-type(2) {
opacity: 0;/*真ん中の線は透過*/
}
.header_hamburger.active span:nth-of-type(3){
    top: 26px;
    left: 11px;
    transform: translateY(-7px) rotate(45deg);
    width: 19px;
}

.header__nav {
    display: none;
}

/* kv */
.kv {
    background-image: url(../images/kv_main.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 100dvh;
    width: 100%;
}

.kv_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: max(80px, 9rem);
}

.kv_main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7px;
    width: 100%;
}

.kv_catchphrase {
    font-size: max(4.6rem, 36px);
    font-weight: bold;
    letter-spacing: 0.04em;
    color: #fff;
    font-family: "Shippori Mincho B1", serif;
}

.kv_kakeru {
    padding-top: 1rem;
    width: max(16px, 2.2rem);
}
.kv_kakeru img {
    width: 100%;
}

.kv_sub {
    text-align: center;
}

.kv_sub .kv_catchphrase {
    font-size: max(22px, 2.8rem);
}

/* about */
.about_inner {
    padding: 120px 0;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: 41% 1fr;
    gap: 100px;
}
.about_copy {
    margin-top: 80px;
}
.about_copy h3 {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.04rem;
}
.about_copy h3 .green {
    font-family: "Shippori Mincho", serif;
}
.sec_description {
    margin-top: 40px;
}
.sec_description p {
    font-size: 16px;
    font-weight: 400;
    line-height: 2.2;
    letter-spacing: 0.04rem;
    text-align: justify;
}

/* service */
#service {
    background-color: var(--lightgray);
    padding: 120px 0;
}
.service_head {
    max-width: 1100px;
    margin: auto;
    padding-bottom: 80px;
}
.service_group {
    display: grid;
    grid-template-columns: 48% 1fr;
    gap: 100px;
    max-width: 1100px;
    margin: auto;
}
.service_group:last-child {
    margin-top: 120px;
}
.service_group.reverse {
    grid-template-columns: 1fr 48%;
}
.group_subtitle {
    color: var(--green);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.group_title {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0.07rem;
    padding-top: 8px;
}
.group_description {
    margin-top: 53px;
}
.group_description p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.04rem;
    line-height: 2.2;
}
.service_category {
    margin-top: 53px;
}
.service_category ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
}

.service_category ul li {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.04rem;
    border-radius: 999px;
    border: 1px solid var(--gray);
    height: 36px;
    padding: 8px 24px;
    text-align: center;
    background-color: #fff;
}

/* company */
#company {
    padding: 120px 0;
}
.company_group {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 35% 1fr;
    gap: 190px;
}
.company_img {
    background-image: url(../images/company.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    width: 100%;
    height: 625px;
    border-radius: 0 8px 8px 0;
    margin-top: 66px;
}
.company_info {
    display: block;
}
.company_info tr {
    display: block;
    padding: 28px 0;
    border-bottom: 1px solid #D9D9D9;
}
.company_info td.label {
    color: var(--green);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.7;
    width: 140px;
}
.company_info td.value {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.7;
    letter-spacing: 0.08rem;
}

/* googlemap */
#googlemap {
    width: 100%;
}
#googlemap iframe {
    width: 100%;
    height: 548px;
}

/* cta */
.cta_inner {
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin: 60px auto;
    max-width: 1100px;
}
.cta_inner h4 {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.07rem;
    text-align: center;
}
.cta_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
}
.cta_tel {
    display: grid;
    place-items: center;
    border-right: 1px solid #C4C4C4;
}
.cta_tel_upper {
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.cta_tel_upper img {
    width: 23px;
}
.cta_tel_upper p {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.7;
    letter-spacing: 0.08rem;
    color: #000;
    font-family: "Roboto", sans-serif;
}
.cta_tel_bottom p {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7;
    letter-spacing: 0.08rem;
}
.cta_contact {
    display: grid;
    place-items: center;
}
.contact_btn {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.04rem;
    color: #fff;
    background-color: var(--bule);
    border-radius: 999px;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding: 24px 40px;
    border: 1px solid var(--bule);
    transition: all 0.3s;
}

/* contact */
#contact {
    background-color: var(--lightgray);
    padding: 120px 0;
}
.contact_head_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    max-width: 1100px;
    margin: auto;
}
.contact_head {
    max-width: none;
    margin: 0;
}
.contact_description {
    margin-top: 30px;
}
.contact_description p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.08rem;
}
.contact_form {
    margin: 80px auto;
    padding: 48px 80px 120px;
    background-color: #fff;
    border-radius: 8px;
    max-width: 1100px;
}
.form_group {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.form_group label {
    font-size: 16px;
    font-weight: bold;
    line-height: 2.1;
    letter-spacing: 0.1rem;
}
.form_group label .required {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: #FF5959;
    background-color: #FFE2E2;
    border-radius: 2px;
    padding: 1px 6px;
    margin-left: 4px;
}
.form_group input, .form_group textarea {
    border: 1px solid #C4C4C4;
    border-radius: 2px;
    padding: 19px 14px;
}
.form_group textarea {
    height: 180px;
}
.privacy_policy {
    margin-top: 20px;
    padding: 20px 14px;
    border: 1px solid #C4C4C4;
    height: 356px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.privacy_policy p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.1rem;
}
.checkbox_group {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 0 20px 0;
}
.checkbox_group label {
    font-weight: 500;
}
input[type="checkbox"] {
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid #C4C4C4;
    background-color: #fff;
    vertical-align: -5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    margin-top: 1px;
}
input[type="checkbox"]:checked {
    background-color: #4FA149;
    border: none;
}
input[type="checkbox"]:checked:before {
    position: absolute;
    top: 3px;
    left: 7px;
    transform: rotate(45deg);
    width: 7px;
    height: 11px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    content: '';
}
.submit_btn_wrap {
    margin-top: 50px;
    display: grid;
    place-content: center;
}
.submit_btn {
    border-radius: 999px;
    background-color: var(--bule);
    color: #fff;
    padding: 21px 0;
    width: 298px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.04rem;
    position: relative;
    border: 1px solid var(--bule);
    transition: all 0.3s;
}
.submit_btn svg {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    transition: all 0.3s;
}
/* footer */
.footer {
    background-color: var(--green);
    color: #fff;
    padding: 60px 70px;
}
.footer_upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.footer_info_wrap {
    display: flex;
    flex-direction: row;
    gap: 28px;
}
.footer_logo {
    width: 53px;
}
.footer_logo img {
    width: 100%;
}
.footer_info {
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.footer_info .company_name {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.04rem;
}
.footer_info .company_adress {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.08rem;
}
.footer_info .company_tel {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.08rem;
}
.footer_menu_wrap {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer_menu {
    display: flex;
    flex-direction: row;
}
.footer_list {
    padding: 0 30px;
}
.footer_list:first-child {
    padding: 0 30px 0 0;
}
.footer_list:last-child {
    padding: 0 0 0 30px;
}
.footer_list:not(:last-child) {
    border-right: 1px solid #fff;
}
.footer_list a {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.04rem;
    line-height: 1.5;
}
.sns_link a {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 16px;
}
.sns_link p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.04rem;
    line-height: 1.5;
}
.footer_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 40px;
}
.copyright {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04rem;
}

@media screen and (min-width:2000px) {
    .about_inner {
        max-width: 1600px;
        gap: 160px;
    }
    .sec_head {
        max-width: 1600px;
    }
    .service_group {
        max-width: 1600px;
    }
}

@media screen and (max-width:1200px) {
    .about_inner {
        max-width: none;
        margin: 0 40px;
    }
    .sec_head {
        max-width: none;
        margin: 0 40px;
    }
    .sec_head.about_head, .sec_head.contact_head {
        margin: 0;
    }
    .service_group {
        max-width: none;
        margin: 0 40px;
    }
    .company_text {
        margin-right: 40px;
    }
    .contact_head_wrap {
        margin: 0 40px;
        gap: 40px;
    }
    .contact_form {
        margin: 80px 40px;
    }
    .company_group {
        gap: 120px;
    }
    .footer_list {
        padding: 0 20px;
    }
    .footer_list:first-child {
        padding: 0 20px 0 0;
    }
    .footer_list:last-child {
        padding: 0  0 0 20px;
    }
}

@media screen and (max-width:768px) {
    html {
        font-size: 2.564102564102564vw;
    }
    .pc {
        display: none;
    }
    .sp {
        display: block;
    }

    .sec_head {
        margin: 0 20px;
    }

    /* header */
    .header {
        position: fixed;
    }
    .header_inner {
        padding: 20px 20px 0 20px;
    }
    .header_logo {
        width: 43px;
    }
    .header_menu_wrap {
        display: none;
    }

    .header_hamburger {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 2000;
    }

    /* header_nav */
    .header__nav {
        display: block;
        background-color: #fff;
        position: fixed;
        top: 0;
        right: -320px;
        width: 320px;
        height: 100dvh;
        z-index: 1000;
        transition: all 0.5s;
    }
    .header__nav.active {
        right: 0px;
    }
    .header_nav_logo {
        display: block;
        width: 43px;
        margin-top: 20px;
        margin-left: 20px;
    }
    .header_nav_inner {
        padding: 20px 40px;
    }
    .header_nav_list {
        border-bottom: 1px solid #C4C4C4;
    }
    .header_nav_list a {
        display: block;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.07rem;
        padding: 24px 0;
    }
    .header_memu_icon {
        margin-top: 20px;
        display: block;
        width: fit-content;
    }
    .header_nav_contact_wrap {
        margin: 24px 0;
    }
    .header_nav_contact {
        width: 240px;
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: var(--bule);
        border-radius: 50px;
        gap: 6px;
        color: #fff;
        box-sizing: border-box;
        transition: all 0.3s;
    }
    .header_nav_contact span {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.7;
        letter-spacing: 0.04rem;
    }
    .header_nav_contact:hover {
        border: 1px solid var(--bule);
        background-color: #fff;
        color: #000;
    }
    .header_nav_contact:hover svg path {
        fill: var(--bule);
    }

    /* kv */
    .kv {
        background-image: url(../images/kv_main-sp.jpg);
    }

    .kv_inner {
        gap: min(60px, 6rem);
        z-index: 200;
    }
    .kv_main {
        flex-direction: column;
        width: 100vw;
    }
    .kv_catchphrase {
        letter-spacing: 0.07em;
    }
    .kv_sub {
        width: 100vw;
    }
    .kv_sub .kv_catchphrase {
        text-align: center;
        letter-spacing: 0.3em;
    }
    
    /* about */
    .about_inner {
        grid-template-columns: 1fr;
        margin: 0 20px;
        padding: 80px 0 120px 0;
    }
    .sec_title {
        font-size: 54px;
        letter-spacing: 0.07em;
        line-height: 1.5;
    }
    .about_copy h3 {
        letter-spacing: 0.07rem;
    }

    /* service */
    #service {
        padding: 80px 0 100px 0;
    }
    .service_group {
        grid-template-columns: 1fr;
        gap: 40px;
        margin: 0 20px;
    }
    .service_group_text {
        order: 2;
    }
    .service_group_img {
        order: 1;
    }
    .service_group.reverse {
        grid-template-columns: 1fr;
    }
    .company_text {
        margin-right: 0;
    }

    /* company */
    #company {
        padding: 80px 0 100px;
    }
    .company_img {
        background-image: none;
        height: fit-content;
        margin-top: 0;
    }
    .company_group {
        grid-template-columns: 1fr;
        gap: 40px;
        margin: 80px 20px 0;
    }

    #googlemap iframe {
        height: 350px;
    }

    /* cta */
    .cta_inner {
        margin: 90px auto;
        gap: 26px;
    }
    .cta_inner h4 {
        font-size: 24px;
        letter-spacing: 0.07em;
    }
    .cta_content {
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .contact_btn {
        padding: 19px 45px;
    }

    /* company */
    .contact_head_wrap {
        flex-direction: column;
        margin: 0 20px;
        gap: 72px;
    }
    .cta_tel {
        border-right: none;
    }

    /* contact */
    #contact {
        padding: 80px 0 0 0;
    }
    .contact_form {
        margin:  80px 0 0 0;
        padding: 50px 20px 60px 20px;
    }
    .form_group {
        padding: 10px 0;
    }
    .privacy_policy {
        margin-top: 10px;
    }
    .checkbox_group {
        padding: 24px 0 10px 0;
    }
    .submit_btn {
        padding: 15px 0;
    }

    /* footer */
    .footer {
        padding: 50px 20px 40px 20px;
    }
    .footer_upper {
        flex-direction: column;
        gap: 40px;
    }
    .footer_info_wrap {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .footer_info {
        width: 100%;
    }
    .footer_menu_wrap {
        flex-direction: column;
        gap: 24px;
    }
    .footer_menu {
        flex-direction: column;
        gap: 10px;
    }
    .footer_list:not(:last-child) {
        border: none;
    }
    .footer_list,.footer_list:first-child,.footer_list:last-child {
        padding: 0;
    }
    .sns_link a {
        justify-content: flex-start;
    }
}
/* hover */
.header_list {
    position: relative;
}
.header_list:not(.header_contact) a::after {
	content: '';
	height: 1px;
	bottom: -8px;
	width: 100%;
	display: block;
	position: absolute;
	transform: scale(0, 1); 
    transition: transform .5s;
	transform-origin: left top;
    background-color: #fff;
}
.header_list:hover a::after {
	background-color: #fff;
	transform: scale(1, 1);
}
.header_contact:hover a {
    background-color: #fff;
    border: 1px solid var(--bule);
}
.header_contact:hover a {
    color: var(--bule);
}
.header_fixed .header_list:not(.header_contact) a::after {
    background-color: #000;
    bottom: -6px;
}


.contact_btn:hover {
    background-color: #fff;
    border: 1px solid var(--bule);
    color: #000;
}
.contact_btn:hover svg rect, .contact_btn:hover svg path {
    fill: var(--bule);
}
.submit_btn:hover {
    background-color: #fff;
    color: var(--bule);
}
.submit_btn:hover svg {
    right: 16px;
}
.submit_btn:hover svg path {
    stroke: var(--bule);
}